<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--========== BOX ICONS ==========-->
    <link rel="icon" href="/images/favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />

    <!--========== CSS ==========-->

    <link
      rel="stylesheet"
      href="/css/general/generalInner.css
  "
    />
    <link
      rel="stylesheet"
      href="/css/bank/bank.css
  "
    />
    <link
      rel="stylesheet"
      href="/css/admin/admin.css
    "
    />

    <!--========== JQUERY a SWEET ==========-->
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule=""
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"
    ></script>
    <script
      defer=""
      src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
    ></script>

    <title>Dashboard</title>
  </head>
  <body>
    <!--========== HEADER ==========-->
    <header class="header">
      <div class="header__container">
        <img src="images/elandio_logo.png" alt="" class="header__img" />

        <p class="header__logo">Dashboard</p>
        <p class="header__logo__second">
          <i>„Budoucnost bankovnictví.“ </i>
        </p>

        <div class="header__toggle">
          <i class="bx bx-menu" id="header-toggle"></i>
        </div>
      </div>
    </header>

    <!--========== NAV ==========-->
    <div class="nav" id="navbar">
      <nav class="nav__container">
        <div>
          <a href="/admin-secret-page" class="nav__link nav__logo">
            <i class="bx bx-world nav__icon"></i>
            <img
              src="/images/elandio_logo_sidebar.png"
              alt=""
              class="header__img"
            />
          </a>

          <div class="nav__list">
            <div class="nav__items">
              <a href="/admin-secret-page" class="nav__link">
                <i class="bx bx-task nav__icon"></i>
                <span class="nav__name">Dashboard</span>
              </a>
              <a href="/users-list" class="nav__link">
                <i class="bx bx-user nav__icon"></i>
                <span class="nav__name">Klienti</span>
              </a>
              <a href="/transactions-list" class="nav__link">
                <i class="bx bx-coin nav__icon"></i>
                <span class="nav__name">Transakce</span>
              </a>
            </div>
          </div>
        </div>

        <a href="/logout" class="nav__link nav__logout">
          <i class="bx bx-log-out nav__icon"></i>
          <span class="nav__name">Odhlásit se</span>
        </a>
      </nav>
    </div>

    <!--========== CONTENTS ==========-->
    <main>
      <section class="section-hero">
        <div class="hero">
          <div class="hero-text-box">
            <h1 class="heading-primary">
              Vítej <span class="blue">bankéři</span>
            </h1>
            <p class="hero-description">
              EpptecBank přináší aktuální informace. K dnešnímu datu
              <%=dnesniDatum%> (<%=dnesniDen%>) se zaregistrovalo již
              <b><%=counterUsers%></b> klientů. Celkem byly provedeny transakce
              v hodnotě <b><%=counterTransfers%></b> Kč (viz graf). Dobrá práce
              🙂.
            </p>
            <div class="users-imgs-container">
              <div class="users-imgs">
                <img
                  src="images/customers/fotografka.jpg"
                  alt="Customer photo"
                /><img
                  class="small-screen"
                  src="images/customers/ilona.jpg"
                  alt="Customer photo"
                /><img
                  src="images/customers/buba.jpg"
                  alt="Customer photo"
                /><img
                  class="small-screen"
                  src="images/customers/petr.jpg"
                  alt="Customer photo"
                /><img
                  class="small-screen"
                  src="images/customers/eva.jpg"
                  alt="Customer photo"
                /><img src="images/customers/iva.jpg" alt="Customer photo" />
              </div>
              <p class="users-text">
                <span>Náš tým!</span>
              </p>
            </div>
          </div>
          <div class="hero-img-box">
            <canvas id="myChart1" width="400" height="400"></canvas>
          </div>
        </div>
      </section>
    </main>

    <!--========== MAIN JS ==========-->
    <script src="/js/admin.js"></script>
    <script src="/js/commonLoggedIn.js"></script>
  </body>
</html>
