<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="description"
    content="Já učím tebe, jiný učí mě. Budujeme komunitu programátorů založenou na sdíleném vzdělávání."
  />
  <!-- Always include this line of code!!!-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/images/favicon.png" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&amp;display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="css/login/general.css" />
  <link rel="stylesheet" href="css/login/login.css" />
  <link rel="stylesheet" href="css/login/queries.css" />
  <script
    type="module"
    src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule=""
    src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"
  ></script>
  <script
    defer=""
    src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
  ></script>
  <title>Přivítání v iLandiu</title>
</head>
<body>
  <header class="header sticky">
    <a href="/"
      ><img class="logo" alt="iLandio logo" src="/images/ilandio_logo.png"
    /></a>
  </header>
  <main>
    <section class="section-hero">
      <div class="hero">
        <div class="hero-text-box">
          <h1 class="heading-primary">
            Vítej <span class="blue">v iLandiu</span>
          </h1>
          <p class="description">
            Jmenuji se Jakub a budu tvým průvodcem. Budeš-li něco potřebovat,
            můžeš mě kdykoliv kontaktovat buď skrze iLandio chat nebo přes
            email: info@ilandio.cz. Jakmile tvůj účet ověřím (<b>do 24 hodin</b
            >), budeš jej moci plně využívat (prozatím nemůžeš zasílat Educoiny
            a vytvářet příspěvky). Užij si svět sdíleného vzdělávání a těším se
            na viděnou :-). <br />
            <a
              class="btn btn--full margin-right-sm fas fa-door-open"
              href="/my-profile"
              >Editovat profil</a
            >
          </p>
        </div>

        <div class="hero-img-box">
          <picture>
            <source srcset="images/login.jpg" type="image/png" />
            <img class="hero-img" src="images/developer.png" alt="" />
          </picture>
        </div>
      </div>
    </section>
    <section class="section-featured">
      <div class="container">
        <h2 class="heading-featured-in">Od C až po python</h2>
        <div class="logos">
          <img src="images/logos/c.png" alt="Greenfox logo" /><img
            src="images/logos/php.png"
            alt="muni logo"
          /><img src="images/logos/swift.png" alt="muni logo" /><img
            src="images/logos/js.png"
            alt="itregep logo"
          /><img src="images/logos/node.png" alt="muni logo" /><img
            src="images/logos/r.png"
            alt="itregep logo"
          /><img src="images/logos/java.png" alt="itregep logo" /><img
            src="images/logos/python.png"
            alt="startupjobs logo"
          />
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="social-icon">
      <li class="social-icon__item">
        <a class="social-icon__link" href="https://www.facebook.com/ilandio/">
          <ion-icon name="logo-facebook"></ion-icon>
        </a>
      </li>
      <li class="social-icon__item">
        <a class="social-icon__link" href="/kontakt">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
      </li>
    </ul>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="/gdpr">GDPR</a></li>
      <li class="menu__item">
        <a class="menu__link" href="/kontakt">Kontakt</a>
      </li>
    </ul>
    <p>&copy; 2022 iLandio by JS</p>
    <a class="freepik" href="https://www.freepik.com/vectors/connecting-people"
      >Connecting people vector created by storyset - www.freepik.com</a
    >
  </footer>
  <script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
  ></script>
  <script defer="" src="js/mobileNavigation.js"></script>
</body>
