<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="description"
    content="Já učím tebe, jiný učí mě. Budujeme komunitu programátorů založenou na sdíleném vzdělávání."
  />
  <!-- Always include this line of code!!!-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/images/favicon.png" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&amp;display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="css/login/general.css" />
  <link rel="stylesheet" href="css/login/login.css" />
  <link rel="stylesheet" href="css/login/queries.css" />
  <script
    type="module"
    src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule=""
    src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"
  ></script>
  <script
    defer=""
    src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
  ></script>
  <title>Error</title>
</head>
<body>
  <header class="header sticky">
    <a href="/"
      ><img class="logo" alt="iLandio logo" src="images/ilandio_logo.png"
    /></a>
    <nav class="main-nav">
      <ul class="main-nav-list">
        <li>
          <a class="main-nav-link nav-log" href="/register">Registrace</a>
        </li>
        <li>
          <a class="main-nav-link nav-cta" href="/login"
            >P&rcaron;ihl&aacute;sit se</a
          >
        </li>
      </ul>
    </nav>
    <button class="btn-mobile-nav">
      <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
      <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
    </button>
  </header>
  <main>
    <section class="section-hero">
      <div class="error">
        <img class="error-image" src="images/error.png" alt="Error" />
      </div>
    </section>
    <div class="run">
      <a class="btn btn--full margin-right-sm fas fa-door-open" href="/"
        >Utéct</a
      >
    </div>
  </main>
  <script defer="" src="js/mobileNavigation.js"></script>
</body>
