<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="description"
    content="Já učím tebe, jiný učí mě. Budujeme komunitu programátorů založenou na sdíleném vzdělávání."
  />
  <!-- Always include this line of code!!!-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/images/favicon.png" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&amp;display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="css/login/general.css" />
  <link rel="stylesheet" href="css/login/login.css" />
  <link rel="stylesheet" href="css/login/queries.css" />
  <script
    type="module"
    src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule=""
    src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"
  ></script>
  <script
    defer=""
    src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
  ></script>
  <title>GDPR</title>
</head>
<body>
  <header class="header sticky">
    <a href="/"
      ><img class="logo" alt="iLandio logo" src="images/ilandio_logo.png"
    /></a>
    <nav class="main-nav">
      <ul class="main-nav-list">
        <li>
          <a class="main-nav-link nav-log" href="/register">Registrace</a>
        </li>
        <li>
          <a class="main-nav-link nav-cta" href="/login"
            >P&rcaron;ihl&aacute;sit se</a
          >
        </li>
      </ul>
    </nav>
    <button class="btn-mobile-nav">
      <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
      <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
    </button>
  </header>
  <main>
    <section class="section-hero">
      <div class="gdpr">
        <h1 class="heading-primary margin-top">
          Zpracování <span class="blue">osobních údajů</span>
        </h1>

        <br />
        <p class="description">
          Hezký den, studente,
          <br />
          v souladu s platnou právní úpravou ochrany osobních údajů bychom se s
          tebou rádi podělili o informace, jakým způsobem, za jakým účelem a
          proč dochází ke zpracování tvých osobních údajů. Jakýkoliv údaj, který
          po tobě požadujeme, má své opodstatnění, nezpracováváme jej pro jiné
          účely, než jsou specifikovány, a pomine-li nezbytnost zpracování, údaj
          vždy vymažeme.
          <br />
          <br />
          <b>I. Základní ustanovení </b>
          <br />
          1. Správcem osobních údajů podle čl. 4 bod 7 nařízení Evropského
          parlamentu a Rady (EU) 2016/679 o ochraně fyzických osob v souvislosti
          se zpracováním osobních údajů a o volném pohybu těchto údajů (dále
          jen: „GDPR”) je Ing. Jakub Solnička (dále jen: „správce“).
          <br />
          2. Kontaktní údaje správce jsou:
          <br />
          email: info@ilandio.cz
          <br />
          3. Osobními údaji se rozumí veškeré informace o identifikované nebo
          identifikovatelné fyzické osobě; identifikovatelnou fyzickou osobou je
          fyzická osoba, kterou lze přímo či nepřímo identifikovat, zejména
          odkazem na určitý identifikátor, například jméno, identifikační číslo,
          lokační údaje, síťový identifikátor nebo na jeden či více zvláštních
          prvků fyzické, fyziologické, genetické, psychické, ekonomické,
          kulturní nebo společenské identity této fyzické osoby.
          <br />
          4. Správce nejmenoval pověřence pro ochranu osobních údajů.
          <br />
          <br />
          <b>II. Zdroje a kategorie zpracovávaných osobních údajů</b>
          <br />
          1. Správce zpracovává osobní údaje, které jsi mu poskytl/a nebo osobní
          údaje, které správce získal na základě registrace na webové stránce
          https://www.ilandio.cz.
          <br />
          2. Správce zpracovává Vaše identifikační a kontaktní údaje a údaje
          nezbytné pro plnění smlouvy.
          <br />
          <br />
          <b>III. Zákonný důvod a účel zpracování osobních údajů</b>
          <br />
          Zákonným důvodem zpracování osobních údajů je:
          <br />
          a) plnění smlouvy mezi Vámi a správcem podle čl. 6 odst. 1 písm. b)
          GDPR,
          <br />
          b) oprávněný zájem správce na poskytování přímého marketingu (zejména
          pro zasílání obchodních sdělení a newsletterů) podle čl. 6 odst. 1
          písm. f) GDPR,
          <br />
          c) Váš souhlas se zpracováním pro účely poskytování přímého marketingu
          (zejména pro zasílání obchodních sdělení a newsletterů) podle čl. 6
          odst. 1 písm. a) GDPR ve spojení s § 7 odst. 2 zákona č. 480/2004 Sb.,
          o některých službách informační společnosti v případě, že nedošlo k
          objednávce zboží nebo služby.
          <br />
          Účelem zpracování osobních údajů je:
          <br />
          a) vyřízení Vaší objednávky a výkon práv a povinností vyplývajících ze
          smluvního vztahu mezi Vámi a správcem; při objednávce jsou vyžadovány
          osobní údaje, které jsou nutné pro úspěšné vyřízení objednávky (jméno
          a adresa, kontakt), poskytnutí osobních údajů je nutným požadavkem pro
          uzavření a plnění smlouvy, bez poskytnutí osobních údajů není možné
          smlouvu uzavřít či jí ze strany správce plnit,
          <br />
          b) zasílání obchodních sdělení a činění dalších marketingových
          aktivit.
          <br />
          Ze strany správce nedochází k automatickému individuálnímu rozhodování
          ve smyslu čl. 22 GDPR. S takovým zpracováním jsi poskytl/a svůj
          výslovný souhlas.
          <br />
          <br />
          <b>IV. Doba uchovávání údajů</b>
          <br />
          Správce uchovává osobní údaje:
          <br />
          a) po dobu nezbytnou k výkonu práv a povinností vyplývajících ze
          smluvního vztahu mezi Vámi a správcem a uplatňování nároků z těchto
          smluvních vztahů (po dobu 15 let od ukončení smluvního vztahu),
          <br />
          b) po dobu, než je odvolán souhlas se zpracováním osobních údajů pro
          účely marketingu, nejdéle pět let, jsou-li osobní údaje zpracovávány
          na základě souhlasu.
          <br />
          Po uplynutí doby uchovávání osobních údajů správce osobní údaje
          vymaže.
          <br />
          <br />
          <b>V. Příjemci osobních údajů (subdodavatelé správce) </b>
          <br />
          Příjemci osobních údajů jsou osoby:
          <br />
          a) podílející se na dodání zboží / služeb / realizaci plateb na
          základě smlouvy,
          <br />
          b) podílející se na zajištění provozu služeb a
          <br />
          c) zajišťující marketingové služby.
          <br />
          Správce v úmyslu předat osobní údaje do třetí země (do země mimo EU)
          nebo mezinárodní organizaci. Příjemci osobních údajů ve třetích zemích
          jsou poskytovatelé mailingových služeb / cloudových služeb.
          <br />
          <br />
          <b>VI. Vaše práva</b>
          <br />
          Za podmínek stanovených v GDPR máš:
          <br />
          a) právo na přístup ke svým osobním údajům dle čl. 15 GDPR,
          <br />
          b) právo opravu osobních údajů dle čl. 16 GDPR, popřípadě omezení
          zpracování dle čl. 18 GDPR,
          <br />
          c) právo na výmaz osobních údajů dle čl. 17 GDPR,
          <br />
          d) právo vznést námitku proti zpracování dle čl. 21 GDPR,
          <br />
          e) právo na přenositelnost údajů dle čl. 20 GDPR a
          <br />
          f) právo odvolat souhlas se zpracováním písemně nebo elektronicky na
          adresu nebo email správce uvedený v čl. III těchto podmínek.
          <br />
          Dále máš právo podat stížnost u Úřadu pro ochranu osobních údajů v
          případě, že se domníváš, že bylo porušeno Vaší právo na ochranu
          osobních údajů.
          <br />
          <br />
          <b>VII. Podmínky zabezpečení osobních údajů</b>
          <br />
          1. Správce prohlašuje, že přijal veškerá vhodná technická a
          organizační opatření k zabezpečení osobních údajů.
          <br />
          2. Správce přijal technická opatření k zabezpečení datových úložišť a
          úložišť osobních údajů v listinné podobě.
          <br />
          3. Správce prohlašuje, že k osobním údajům mají přístup pouze jím
          pověřené osoby.

          <br />
          <br />
          <b>VIII. Závěrečná ustanovení</b>
          <br />
          1. Odesláním objednávky z internetového objednávkového formuláře
          potvrzuješ, že jsi seznámen/a s podmínkami ochrany osobních údajů a že
          je v celém rozsahu přijímáš.
          <br />
          2. Správce je oprávněn tyto podmínky změnit. Novou verzi podmínek
          ochrany osobních údajů zveřejní na svých internetových stránkách,
          případně Vám zašle novou verzi těchto podmínek na e-mailovou adresu,
          kterou jsi správci poskytl/a.
          <br />
          3. S těmito podmínkami souhlasíš zaškrtnutím souhlasu prostřednictvím
          internetového formuláře. Zaškrtnutím souhlasu potvrzuješ, že jsi
          seznámen/a s podmínkami ochrany osobních údajů a že je v celém rozsahu
          přijímáš.
          <br />
          <br />
          <b>Máš dotaz? </b>
          <br />
          Máš-li dotaz k ochraně osobních údajů, neváhej mě kontaktovat na
          emailu: info@ilandio.cz
          <br />
        </p>
        <h1 class="heading-primary margin-top-6">
          Všechna práva<span class="blue"> vyhrazena</span>
        </h1>
        <p class="description">
          Žádná část tohoto webu (texty, obrázky, popis nákupu, parametry,
          obchodní podmínky ani další části serveru), není-li uvedeno jinak, v
          celku ani v části nesmí být kopírována nebo jinak reprodukována bez
          výslovné souhlasu provozovatele. Každý uživatel s provedenou
          registrací do webové stránky iLandio.cz souhlasí s tím, že nevkládá na
          web obsah, který není v souladu s dobrými mravy a zároveň nedochází
          vložením tohoto obsahu k porušení trestného, či autorského práva. Za
          takový obsah v inzerátech a profilu plně zodpovídá uživatel, který
          tento obsah nahrál přes uživatelské nastavení.
        </p>
        <h1 class="heading-primary margin-top-6">
          Cookies <span class="blue"></span>
        </h1>
        <p class="description">
          iLandio.cz nepoužívá žádné cookies třetích stran a ani dlouhodobé
          cookies (persistent cookies). Používá jen nezbytně nutná cookies pro
          správný chod webové stránky, která jsou krátkodobá, tzv. relační
          cookies (anglicky session cookies). Ty probíhají pouze po dobu relace
          (tedy návštěvy a využívání stránek) a smažou se po zavření prohlížeče.
        </p>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="social-icon">
      <li class="social-icon__item">
        <a class="social-icon__link" href="https://www.facebook.com/ilandio/">
          <ion-icon name="logo-facebook"></ion-icon>
        </a>
      </li>
      <li class="social-icon__item">
        <a class="social-icon__link" href="/kontakt">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
      </li>
    </ul>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="/gdpr">GDPR</a></li>
      <li class="menu__item">
        <a class="menu__link" href="/kontakt">Kontakt</a>
      </li>
    </ul>
    <p>&copy; 2022 iLandio by JS</p>
    <a class="freepik" href="https://www.freepik.com/vectors/connecting-people"
      >Connecting people vector created by storyset - www.freepik.com</a
    >
  </footer>
  <script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
  ></script>
  <script defer="" src="js/mobileNavigation.js"></script>
</body>
