<!DOCTYPE html>

<head>
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-F9GM6G1RCC"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-F9GM6G1RCC");
  </script>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="description"
    content="Budujeme komunitu studentů založenou na sdíleném vzdělávání. Staň se i ty součástí světa eLandio, v němž lidé směňují své znalosti a dovednosti v unikátní ekonomice!"
  />
  <!-- Always include this line of code!!!-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/images/favicon.png" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&amp;display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="css/index/general.css" />
  <link rel="stylesheet" href="css/index/index.css" />
  <link rel="stylesheet" href="css/index/queries.css" />
  <script
    type="module"
    src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule=""
    src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"
  ></script>
  <script
    defer=""
    src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
  ></script>
  <title>eLandio</title>
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-PNDGH5XFV8"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-PNDGH5XFV8");
  </script>
</head>
<body>
  <header class="header sticky">
    <a href="/"
      ><img class="logo" alt="eLandio logo" src="images/elandio_logo.png"
    /></a>
    <nav class="main-nav">
      <ul class="main-nav-list">
        <li class="nav-item-dropdown">
          <a class="nav-kurzy" href="#">Kurzy ✍️</a>
          <ul class="dropdown-menu">
            <li><a href="/kurz-python">Kurz Python</a></li>
            <li><a href="/kurz-r">Kurz R</a></li>
          </ul>
        </li>
        <li>
          <a class="main-nav-link nav-log" href="/register">Registrace</a>
        </li>
        <li>
          <a class="main-nav-link nav-cta" href="/login"
            >P&rcaron;ihl&aacute;sit se</a
          >
        </li>
      </ul>
    </nav>
    <button class="btn-mobile-nav">
      <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
      <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
    </button>
  </header>
  <main>
    <section class="section-hero">
      <div class="hero">
        <div class="hero-text-box">
          <h1 class="heading-primary">
            Datová analýza<br /><span class="blue">v jazyce Python</span>
          </h1>
          <p class="hero-description">
            Ovládněte datovou analýzu s naším Python kurzem! Naučíte se vše od
            základů až po pokročilé techniky s využitím knihoven jako
            <b>Pandas, NumPy a Matplotlib. </b> Analyzujte data rychle a
            efektivně. Přihlaste se nyní a posuňte své dovednosti na novou
            úroveň!
          </p>
          <a class="btn btn--full margin-right-sm" href="/register"
            >Registrace</a
          ><a class="btn btn--outline" href="#how">Dozvědět se více</a>
        </div>
        <div class="hero-img-box">
          <picture>
            <source srcset="images/Jakub.jpg" type="image/png" />
            <img class="hero-img" src="images/developer.png" alt="" />
          </picture>
        </div>
      </div>
    </section>

    <section class="section-how" id="how">
      <div class="container">
        <span class="subheading">Kurz</span>
        <h2 class="heading-secondary">
          Základy datové analýzy v Pythonu - Osnova kurzu
        </h2>
      </div>
      <div class="container grid grid--2-cols grid--center-v">
        <!-- STEP 01-->
        <div class="step-text-box">
          <p class="step-number">01</p>
          <h3 class="heading-tertiary">Úvod do Pythonu a Jupyter Notebooku</h3>
          <p class="step-description">
            Instalace Pythonu a knihoven<br />
            Základy práce v Jupyter Notebooku<br />
            První skripty pro práci s daty
          </p>
        </div>

        <!-- STEP 02-->
        <div class="step-text-box">
          <p class="step-number">02</p>
          <h3 class="heading-tertiary">Základy práce s daty v Pandas</h3>
          <p class="step-description">
            Seznámení s Pandas: DataFrame a Series<br />
            Načítání dat z různých zdrojů (CSV, Excel)<br />
            První operace s daty: výběr, filtrování
          </p>
        </div>

        <!-- STEP 03-->
        <div class="step-text-box">
          <p class="step-number">03</p>
          <h3 class="heading-tertiary">Manipulace s daty</h3>
          <p class="step-description">
            Přidávání a mazání sloupců a řádků<br />
            Úpravy dat: změny typů, přejmenování, nahrazování hodnot<br />
            Spojování a slučování datasetů
          </p>
        </div>

        <!-- STEP 04-->
        <div class="step-text-box">
          <p class="step-number">04</p>
          <h3 class="heading-tertiary">Práce s chybějícími daty</h3>
          <p class="step-description">
            Identifikace chybějících hodnot<br />
            Strategie pro zpracování chybějících dat (mazání, doplnění)<br />
            Pokročilé metody nahrazování chybějících hodnot
          </p>
        </div>

        <!-- STEP 05-->
        <div class="step-text-box">
          <p class="step-number">05</p>
          <h3 class="heading-tertiary">Úvod do NumPy</h3>
          <p class="step-description">
            NumPy array a základní operace<br />
            Tvorba a manipulace s multidimenzionálními poli <br />
            Efektivní výpočty s použitím NumPy
          </p>
        </div>

        <!-- STEP 06-->
        <div class="step-text-box">
          <p class="step-number">06</p>
          <h3 class="heading-tertiary">Čištění a příprava dat</h3>
          <p class="step-description">
            Datová transformace a normalizace <br />
            Odstraňování duplicitních dat<br />
            Práce s datovými typy (text, čísla, datum)
          </p>
        </div>

        <!-- STEP 07-->
        <div class="step-text-box">
          <p class="step-number">07</p>
          <h3 class="heading-tertiary">Úvod do vizualizace dat s Matplotlib</h3>
          <p class="step-description">
            Základy vizualizace v Matplotlibu<br />
            Tvorba základních grafů (sloupcové, čárové, koláčové)<br />
            Úpravy vzhledu grafů
          </p>
        </div>

        <!-- STEP 08-->
        <div class="step-text-box">
          <p class="step-number">08</p>
          <h3 class="heading-tertiary">Pokročilé vizualizace dat</h3>
          <p class="step-description">
            Seaborn: pokročilé grafy a vizualizace <br />
            Práce s více datovými sadami na jednom grafu <br />
            Tvorba heatmap a boxplotů
          </p>
        </div>

        <!-- STEP 09-->
        <div class="step-text-box">
          <p class="step-number">09</p>
          <h3 class="heading-tertiary">Základní statistická analýza</h3>
          <p class="step-description">
            Popisná statistika: průměr, medián, rozptyl <br />
            Korelace a kovariance<br />
            Statistické testy pro analýzu dat
          </p>
        </div>

        <!-- STEP 10-->
        <div class="step-text-box">
          <p class="step-number">10</p>
          <h3 class="heading-tertiary">Práce s daty ve více formátech</h3>
          <p class="step-description">
            Načítání dat z JSON a SQL <br />
            Ukládání dat do různých formátů (CSV, Excel, JSON) <br />
            Optimalizace čtení a zápisu dat
          </p>
        </div>

        <!-- STEP 11-->
        <div class="step-text-box">
          <p class="step-number">11</p>
          <h3 class="heading-tertiary">Práce s časovými řadami</h3>
          <p class="step-description">
            Zpracování časových dat v Pandas <br />
            Resampling, rolling a shifting dat<br />
            Predikce trendů v časových řadách
          </p>
        </div>

        <!-- STEP 12-->
        <div class="step-text-box">
          <p class="step-number">12</p>
          <h3 class="heading-tertiary">
            Závěrečný projekt: Analýza reálných dat
          </h3>
          <p class="step-description">
            Vytvoření komplexní analýzy na základě veřejně dostupných dat<br />
            Vizualizace výsledků <br />
            Prezentace projektu a závěrečná diskuze
          </p>
        </div>
      </div>
    </section>
    <!-- <section class="section-features">
      <div class="container grid grid--4-cols grid--center-v">
        <div class="feature">
          <div class="feature-icons">
            <ion-icon
              class="feature-icon grid-justify-center"
              name="infinite-outline"
            ></ion-icon>
          </div>
          <p class="feature-title">Sdílejte a učte se</p>
          <p class="feature-text"></p>
        </div>
        <div class="feature">
          <div class="feature-icons">
            <ion-icon class="feature-icon" name="nutrition-outline"></ion-icon>
          </div>
          <p class="feature-title">Local and organic</p>
          <p class="feature-text">
            Our cooks only use local, fresh, and organic products to prepare
            your meals.
          </p>
        </div>
        <div class="feature">
          <div class="feature-icons">
            <ion-icon class="feature-icon" name="leaf-outline"></ion-icon>
          </div>
          <p class="feature-title">No waste</p>
          <p class="feature-text">
            All our partners only use reusable containers to package all your
            meals.
          </p>
        </div>
        <div class="feature">
          <div class="feature-icons">
            <ion-icon class="feature-icon" name="pause-outline"></ion-icon>
          </div>
          <p class="feature-title">Pause anytime</p>
          <p class="feature-text">
            Going on vacation? Just pause your subscription, and we refund
            unused days.
          </p>
        </div>
      </div>
    </section> -->
  </main>
  <footer class="footer">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="social-icon">
      <li class="social-icon__item">
        <a
          class="social-icon__link"
          href="https://www.facebook.com/groups/3238235073171374"
        >
          <ion-icon name="logo-facebook"></ion-icon>
        </a>
      </li>
      <li class="social-icon__item">
        <a class="social-icon__link" href="/kontakt">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
      </li>
    </ul>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="/gdpr">GDPR</a></li>
      <li class="menu__item">
        <a class="menu__link" href="/kontakt">Kontakt</a>
      </li>
    </ul>
    <p>&copy; 2023 eLandio by JS</p>
    <a class="freepik" href="https://www.freepik.com/vectors/connecting-people"
      >Connecting people vector created by storyset - www.freepik.com</a
    >
  </footer>
  <script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
  ></script>
  <script defer="" src="js/mobileNavigation.js"></script>
</body>
