<!DOCTYPE html>

<head>
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-F9GM6G1RCC"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-F9GM6G1RCC");
  </script>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="description"
    content="Budujeme komunitu studentů založenou na sdíleném vzdělávání. Staň se i ty součástí světa eLandio, v němž lidé směňují své znalosti a dovednosti v unikátní ekonomice!"
  />
  <!-- Always include this line of code!!!-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/images/favicon.png" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&amp;display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="css/index/general.css" />
  <link rel="stylesheet" href="css/index/index.css" />
  <link rel="stylesheet" href="css/index/queries.css" />
  <script
    type="module"
    src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule=""
    src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"
  ></script>
  <script
    defer=""
    src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
  ></script>
  <title>eLandio</title>
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-PNDGH5XFV8"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-PNDGH5XFV8");
  </script>
</head>
<body>
  <header class="header sticky">
    <a href="/"
      ><img class="logo" alt="eLandio logo" src="images/elandio_logo.png"
    /></a>
    <nav class="main-nav">
      <ul class="main-nav-list">
        <li class="nav-item-dropdown">
          <a class="nav-kurzy" href="#">Kurzy ✍️</a>
          <ul class="dropdown-menu">
            <li><a href="/kurz-python">Kurz Python</a></li>
            <li><a href="/kurz-r">Kurz R</a></li>
          </ul>
        </li>
        <li>
          <a class="main-nav-link nav-log" href="/register">Registrace</a>
        </li>
        <li>
          <a class="main-nav-link nav-cta" href="/login"
            >P&rcaron;ihl&aacute;sit se</a
          >
        </li>
      </ul>
    </nav>
    <button class="btn-mobile-nav">
      <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
      <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
    </button>
  </header>
  <main>
    <section class="section-hero">
      <div class="hero">
        <div class="hero-text-box">
          <h1 class="heading-primary">
            Datová analýza<br /><span class="blue">v jazyce Python</span>
          </h1>
          <p class="hero-description">
            Chcete se stát expertem na datovou analýzu v Pythonu?
            <b>Vstupte do světa efektivní datové analýzy</b> s naším intenzivním
            kurzem, který vás provede od základů až po pokročilé techniky.
            Naučte se využívat sílu jazyka Python a knihoven jako Pandas, NumPy,
            Matplotlib a Scikit-learn k rychlé a efektivní analýze vašich dat.
            Přihlaste se nyní a posuňte své analytické dovednosti na novou
            úroveň!
          </p>
          <a class="btn btn--full margin-right-sm" href="/register"
            >Registrace</a
          ><a class="btn btn--outline" href="#how">Dozvědět se více</a>
        </div>
        <div class="hero-img-box">
          <picture>
            <source srcset="images/Jakub.jpg" type="image/png" />
            <img class="hero-img" src="images/developer.png" alt="" />
          </picture>
        </div>
      </div>
    </section>

    <section class="section-how" id="how">
      <div class="container">
        <span class="subheading">Kurz</span>
        <h2 class="heading-secondary">
          Základy datové analýzy v Pythonu - Osnova kurzu
        </h2>
      </div>
      <div class="container grid grid--2-cols grid--center-v">
        <!-- STEP 01-->
        <div class="step-text-box">
          <p class="step-number">01</p>
          <h3 class="heading-tertiary">
            Seznámení s kurzem a instalace nástrojů
          </h3>
          <p class="step-description">
            <strong>1. Úvod do kurzu:</strong><br />
            Vysvětlení obsahu a cílů kurzu.<br /><br />
            <strong>2. Instalace Pythonu:</strong><br />
            Nastavení Pythonu a potřebného softwaru.<br /><br />
            <strong>3. První skripty:</strong><br />
            Vytvoření a spuštění základních skriptů.
          </p>
        </div>

        <!-- STEP 02-->
        <div class="step-text-box">
          <p class="step-number">02</p>
          <h3 class="heading-tertiary">
            Úvod do základních konceptů a proměnných
          </h3>
          <p class="step-description">
            <strong>1. Základy Pythonu:</strong><br />
            Hlavní principy programování.<br /><br />
            <strong>2. Práce s proměnnými:</strong><br />
            Proměnné a různé typy dat.
          </p>
        </div>

        <!-- STEP 03-->
        <div class="step-text-box">
          <p class="step-number">03</p>
          <h3 class="heading-tertiary">Podmínkové struktury</h3>
          <p class="step-description">
            <strong>1. Podmínkové výrazy:</strong><br />
            Použití if, elif, else.<br /><br />
            <strong>2. Cvičení:</strong><br />
            Řešení jednoduchých úloh pomocí podmínek.
          </p>
        </div>

        <!-- STEP 04-->
        <div class="step-text-box">
          <p class="step-number">04</p>
          <h3 class="heading-tertiary">Použití cyklu for</h3>
          <p class="step-description">
            <strong>1. For cyklus:</strong><br />
            Jak pracovat s cyklem for.<br /><br />
            <strong>2. Iterace:</strong><br />
            Iterace nad listy, řetězci a jinými strukturami.
          </p>
        </div>

        <!-- STEP 05-->
        <div class="step-text-box">
          <p class="step-number">05</p>
          <h3 class="heading-tertiary">Slovníky a množiny v Pythonu</h3>
          <p class="step-description">
            <strong>1. Slovníky:</strong><br />
            Uložení a přístup k datům.<br /><br />
            <strong>2. Množiny:</strong><br />
            Použití a operace s množinami.
          </p>
        </div>

        <!-- STEP 06-->
        <div class="step-text-box">
          <p class="step-number">06</p>
          <h3 class="heading-tertiary">Práce s funkcemi a metodami</h3>
          <p class="step-description">
            <strong>1. Vytváření metod:</strong><br />
            Definice a volání metod.<br /><br />
            <strong>2. Parametry a návratové hodnoty:</strong><br />
            Práce s parametry.
          </p>
        </div>

        <!-- STEP 07-->
        <div class="step-text-box">
          <p class="step-number">07</p>
          <h3 class="heading-tertiary">While cyklus</h3>
          <p class="step-description">
            <strong>1. While cyklus:</strong><br />
            Jak a kdy použít while cyklus.<br /><br />
            <strong>2. Cvičení:</strong><br />
            Praktické úlohy s while cyklem.
          </p>
        </div>

        <!-- STEP 08-->
        <div class="step-text-box">
          <p class="step-number">08</p>
          <h3 class="heading-tertiary">Knihovny a moduly</h3>
          <p class="step-description">
            <strong>1. Import knihoven:</strong><br />
            Základy práce s knihovnami.<br /><br />
            <strong>2. Tvorba modulů:</strong><br />
            Vytváření vlastních modulů.
          </p>
        </div>

        <!-- STEP 09-->
        <div class="step-text-box">
          <p class="step-number">09</p>
          <h3 class="heading-tertiary">Funkce a jejich využití</h3>
          <p class="step-description">
            <strong>1. Funkce:</strong><br />
            Definování a volání funkcí.<br /><br />
            <strong>2. Proměnné:</strong><br />
            Lokální a globální proměnné.
          </p>
        </div>

        <!-- STEP 10-->
        <div class="step-text-box">
          <p class="step-number">10</p>
          <h3 class="heading-tertiary">Pokročilé techniky práce s funkcemi</h3>
          <p class="step-description">
            <strong>1. Rekurze a lambda funkce:</strong><br />
            Kdy a jak je používat.<br /><br />
            <strong>2. Anonymní funkce:</strong><br />
            Využití anonymních funkcí.
          </p>
        </div>

        <!-- STEP 11-->
        <div class="step-text-box">
          <p class="step-number">11</p>
          <h3 class="heading-tertiary">
            Základy objektově orientovaného programování
          </h3>
          <p class="step-description">
            <strong>1. Úvod do OOP:</strong><br />
            Principy objektově orientovaného programování.<br /><br />
            <strong>2. Třídy a objekty:</strong><br />
            Jak vytvářet třídy a pracovat s objekty.
          </p>
        </div>

        <!-- STEP 12-->
        <div class="step-text-box">
          <p class="step-number">12</p>
          <h3 class="heading-tertiary">Závěrečný projekt</h3>
          <p class="step-description">
            <strong>1. Zadání projektu:</strong><br />
            Samostatná práce na projektu s podporou lektora.<br /><br />
            <strong>2. Prezentace projektů:</strong><br />
            Prezentace výsledků a zpětná vazba.
          </p>
        </div>
      </div>
    </section>
    <!-- <section class="section-features">
      <div class="container grid grid--4-cols grid--center-v">
        <div class="feature">
          <div class="feature-icons">
            <ion-icon
              class="feature-icon grid-justify-center"
              name="infinite-outline"
            ></ion-icon>
          </div>
          <p class="feature-title">Sdílejte a učte se</p>
          <p class="feature-text"></p>
        </div>
        <div class="feature">
          <div class="feature-icons">
            <ion-icon class="feature-icon" name="nutrition-outline"></ion-icon>
          </div>
          <p class="feature-title">Local and organic</p>
          <p class="feature-text">
            Our cooks only use local, fresh, and organic products to prepare
            your meals.
          </p>
        </div>
        <div class="feature">
          <div class="feature-icons">
            <ion-icon class="feature-icon" name="leaf-outline"></ion-icon>
          </div>
          <p class="feature-title">No waste</p>
          <p class="feature-text">
            All our partners only use reusable containers to package all your
            meals.
          </p>
        </div>
        <div class="feature">
          <div class="feature-icons">
            <ion-icon class="feature-icon" name="pause-outline"></ion-icon>
          </div>
          <p class="feature-title">Pause anytime</p>
          <p class="feature-text">
            Going on vacation? Just pause your subscription, and we refund
            unused days.
          </p>
        </div>
      </div>
    </section> -->
  </main>
  <footer class="footer">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="social-icon">
      <li class="social-icon__item">
        <a
          class="social-icon__link"
          href="https://www.facebook.com/groups/3238235073171374"
        >
          <ion-icon name="logo-facebook"></ion-icon>
        </a>
      </li>
      <li class="social-icon__item">
        <a class="social-icon__link" href="/kontakt">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
      </li>
    </ul>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="/gdpr">GDPR</a></li>
      <li class="menu__item">
        <a class="menu__link" href="/kontakt">Kontakt</a>
      </li>
    </ul>
    <p>&copy; 2023 eLandio by JS</p>
    <a class="freepik" href="https://www.freepik.com/vectors/connecting-people"
      >Connecting people vector created by storyset - www.freepik.com</a
    >
  </footer>
  <script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
  ></script>
  <script defer="" src="js/mobileNavigation.js"></script>
</body>
