<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <!--========== BOX ICONS ==========-->
    <link rel="icon" href="/images/favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    <!--========== CSS ==========-->
    <link
      rel="stylesheet"
      href="/css/general/generalInner.css
  "
    />
    <link
      rel="stylesheet"
      href="/css/usersList/usersList.css
    "
    />
    <link
      rel="stylesheet"
      href="/css/map/map.css
  "
    />

    <!--========== JQUERY ==========-->
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>

    <title>Seznam uživatelů</title>
  </head>
  <body>
    <!--========== HEADER ==========-->
    <header class="header">
      <div class="header__container">
        <img src="images/ilandio_logo.png" alt="" class="header__img" />

        <p class="header__logo">Mapa setkání</p>
        <p class="header__logo__second">
          <i>„Já učím tebe, jiný učí mě.“ </i>
        </p>

        <div class="header__toggle">
          <i class="bx bx-menu" id="header-toggle"></i>
        </div>
      </div>
    </header>

    <!--========== NAV ==========-->
    <div class="nav fixed" id="navbar">
      <nav class="nav__container">
        <div>
          <a
            href="https://www.facebook.com/ilandio/"
            target="_blank"
            class="nav__link nav__logo"
          >
            <i class="bx bxs-disc nav__icon"></i>
            <span class="nav__logo-name">Novinky</span>
          </a>

          <div class="nav__list">
            <div class="nav__items">
              <h3 class="nav__subtitle">Příspěvky</h3>

              <a href="/posts-list" class="nav__link">
                <i class="bx bx-task nav__icon"></i>
                <span class="nav__name">Seznam příspěvků</span>
              </a>

              <a href="/my-posts" class="nav__link">
                <i class="bx bx-pencil nav__icon"></i>
                <span class="nav__name">Moje příspěvky</span>
              </a>
            </div>

            <div class="nav__items">
              <h3 class="nav__subtitle">Uživatelé</h3>

              <a href="/users-list" class="nav__link">
                <i class="bx bx-user nav__icon"></i>
                <span class="nav__name">Seznam uživatelů</span>
              </a>
              <div class="nav__dropdown">
                <a href="#" class="nav__link">
                  <i class="bx bx-cog nav__icon"></i>
                  <span class="nav__name">Můj profil</span>
                  <i
                    class="bx bx-chevron-down nav__icon nav__dropdown-icon"
                  ></i>
                </a>

                <div class="nav__dropdown-collapse">
                  <div class="nav__dropdown-content">
                    <a href="/my-profile" class="nav__dropdown-item"
                      >Editovat profil</a
                    >
                    <a href="/my-profile-watch" class="nav__dropdown-item"
                      >Zobrazit profil</a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="nav__items">
              <h3 class="nav__subtitle">Ostatní</h3>
              <a href="/bank" class="nav__link">
                <i class="bx bx-coin-stack nav__icon"></i>
                <span class="nav__name">Banka</span>
              </a>
              <a href="/users-list-map" class="nav__link">
                <i class="bx bx-map nav__icon"></i>
                <span class="nav__name">Mapa setkání</span>
              </a>
              <a href="/messages" class="nav__link">
                <i class="bx bx-message-rounded nav__icon"></i>
                <span class="nav__name">Zprávy</span>
                <span id="messagesBadge"></span>
              </a>
            </div>
          </div>
        </div>

        <a href="/logout" class="nav__link nav__logout">
          <i class="bx bx-log-out nav__icon"></i>
          <span class="nav__name">Odhlásit se</span>
        </a>
      </nav>
    </div>

    <!--========== CONTENTS ==========-->
    <main>
      <div class="mapa">
        <div id="map"></div>
      </div>
    </main>

    <script src="/js/map.js"></script>
    <script src="/js/commonLoggedIn.js"></script>
  </body>
</html>
