<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="description"
    content="Já učím tebe, jiný učí mě. Budujeme komunitu programátorů založenou na sdíleném vzdělávání. Staň se i ty součástí světa iLandio, v němž lidé směňují své znalosti a dovednosti v unikátní ekonomice!"
  />
  <!-- Always include this line of code!!!-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/images/favicon.png" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&amp;display=swap"
    rel="stylesheet"
  />
  <!--========== JQUERY a SWEET ==========-->
  <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"
  ></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="/css/login/login.css" />
  <link rel="stylesheet" href="/css/login/general.css" />
  <link rel="stylesheet" href="/css/login/queries.css" />
  <script
    type="module"
    src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule=""
    src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"
  ></script>
  <script
    defer=""
    src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
  ></script>
  <title>Změna hesla</title>
</head>
<body>
  <header class="header sticky">
    <a href="/"
      ><img class="logo" alt="iLandio logo" src="/images/ilandio_logo.png"
    /></a>
    <nav class="main-nav">
      <ul class="main-nav-list">
        <li>
          <a class="main-nav-link nav-log" href="/register">Registrace</a>
        </li>
        <li>
          <a class="main-nav-link nav-cta" href="/login"
            >P&rcaron;ihl&aacute;sit se</a
          >
        </li>
      </ul>
    </nav>
    <button class="btn-mobile-nav">
      <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
      <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
    </button>
  </header>
  <main>
    <section class="section-hero">
      <div class="hero">
        <div class="hero-text-box">
          <h1 class="heading-primary">
            Změnit <span class="blue">heslo</span>
          </h1>
          <form method="post">
            <p class="errorMessage"></p>
            <div>
              <input
                class="input-field"
                type="text"
                name="id"
                id="id"
                placeholder="Kód z emailu"
              />
            </div>
            <div>
              <input
                class="input-field"
                type="password"
                name="password"
                id="password"
                placeholder="Nové heslo"
              />
            </div>
            <div>
              <input
                class="input-field"
                type="password"
                name="passwordConf"
                id="passwordConf"
                placeholder="Potvrďte nové heslo"
              />
            </div>
            <input
              id="btn"
              class="btn btn--full margin-right-sm fas fa-door-open"
              type="submit"
              value="Změnit heslo"
            />
          </form>
          <div class="users-imgs-container">
            <div class="users-imgs">
              <img
                src="/images/customers/customer-1.jpg"
                alt="Customer photo"
              /><img
                src="/images/customers/customer-2.jpg"
                alt="Customer photo"
              /><img
                src="/images/customers/customer-3.jpg"
                alt="Customer photo"
              /><img
                src="/images/customers/customer-4.jpg"
                alt="Customer photo"
              /><img
                src="/images/customers/customer-5.jpg"
                alt="Customer photo"
              /><img
                src="/images/customers/customer-6.jpg"
                alt="Customer photo"
              />
            </div>
            <p class="users-text">
              <span>Jsme moc rádi, </span>že tu jsi s námi :-)
            </p>
          </div>
        </div>
        <div class="hero-img-box">
          <picture>
            <source srcset="/images/login.jpg" type="image/png" />
            <img class="hero-img" src="/images/developer.png" alt="" />
          </picture>
        </div>
      </div>
    </section>
    <section class="section-featured">
      <div class="container">
        <h2 class="heading-featured-in">Od C až po python</h2>
        <div class="logos">
          <img src="images/logos/c.png" alt="Greenfox logo" /><img
            src="images/logos/php.png"
            alt="muni logo"
          /><img src="images/logos/swift.png" alt="muni logo" /><img
            src="images/logos/js.png"
            alt="itregep logo"
          /><img src="images/logos/node.png" alt="muni logo" /><img
            src="images/logos/r.png"
            alt="itregep logo"
          /><img src="images/logos/java.png" alt="itregep logo" /><img
            src="images/logos/python.png"
            alt="startupjobs logo"
          />
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="social-icon">
      <li class="social-icon__item">
        <a class="social-icon__link" href="https://www.facebook.com/ilandio/">
          <ion-icon name="logo-facebook"></ion-icon>
        </a>
      </li>
      <li class="social-icon__item">
        <a class="social-icon__link" href="/kontakt">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
      </li>
    </ul>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="/gdpr">GDPR</a></li>
      <li class="menu__item">
        <a class="menu__link" href="/kontakt">Kontakt</a>
      </li>
    </ul>
    <p>&copy; 2022 iLandio by JS</p>
    <a class="freepik" href="https://www.freepik.com/vectors/connecting-people"
      >Connecting people vector created by storyset - www.freepik.com</a
    >
  </footer>
  <script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
  ></script>
  <script src="/js/resetPass.js"></script>
</body>
