/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--blue-color) !important; */

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 3.4rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.nav-log {
  padding: 1.2rem 2.4rem;
  border-radius: 4px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.nav-log:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--blue-color);
  font-weight: 400;
  font-size: 1.8rem;
  transition: all 0.3s;
  border: 1px solid var(--blue-color);
}

.main-nav-link:hover,
.main-nav-link:active {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 4px;
  color: #fff;
  background-color: var(--blue-color);
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #4285f4;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #374a69;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fff;
  z-index: 999;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  margin-top: 4.6rem;
  padding: 7.8rem 0 6.8rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 2.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2.1rem;
  line-height: 1.6;
  margin-bottom: 1.8rem;
  text-align: justify;
}

.blue {
  color: var(--blue-color);
}

.hero-img {
  width: 100%;
  /* background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); */
}

.users-imgs-container {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 6rem;
}

.users-imgs {
  display: flex;
}

.users-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fff;
}

.users-imgs img:last-child {
  margin: 0;
}

.errorMessage,
.users-text {
  -webkit-appearance: none;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
}

.users-text span {
  color: #374a69;
  font-weight: 700;
}

.hero a {
  font-size: 1.4rem;
  color: #374a69;
  text-decoration: none;
}
/**************************/
/* FEATURED IN SECTION */
/**************************/

.section-featured {
  padding: 4.8rem 0 7.8rem 0;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 5.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/**************************/
/* HOW IT WORKS SECTION */
/**************************/

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #d8dce7;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.9rem;
  line-height: 1.8;
  text-align: justify;
}

.step-img-box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  /* height: 60%; */

  /* 60% of parent's width */
  padding-bottom: 60%;

  background-color: #f7f7f7;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #d8dce7;
  z-index: -1;
}

.step-img {
  width: 35%;
  /* z-index: 10; */
}

.linkKontakt {
  text-decoration: none;
  color: #147aed;
  font-weight: 600;
}

/**************************/
/* FEATURES */
/**************************/

.section-features {
  margin-bottom: 9.6rem;
}

.feature-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-icon {
  display: inline-block;
  color: #395693;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #d8dce7;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  text-align: center;
  font-size: 2.4rem;
  color: #374a69;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.8;
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  position: relative;
  width: 100%;
  background: #0066cc;
  min-height: 100px;
  margin-top: 20rem;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 3rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.6rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 5px 0 15px 0;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
}

.freepik {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("/images/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
