/*===== From generalInner =====*/
.active {
  color: var(--nav-color);
}

.header__logo {
  /* color: var(--main-color);
  font-size: var(--high--font-size);
  font-weight: var(--font-semi-bold); */
  display: none;
}
/*========== MAIN ==========*/

/**************************/
/* GENERAL REUSABLE COMPONENTS */
/**************************/

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.grid--2-cols-post {
  grid-template-columns: 1fr 4fr;
  column-gap: 1rem;
}

.grid--3-cols {
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
}

.grid--4-cols {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
}

.grid--5-cols {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 0.25rem;
}

.button-1 {
  background-color: var(--first-color);
  border-radius: 0.25rem;
  border-style: none;
  box-sizing: border-box;
  color: var(--nav-color);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0 0 0 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.06em;
}

.button-1:hover,
.button-1:focus {
  background-color: #54a6ff;
}

.swal2-popup {
  font-size: 1.6rem !important;
}

/**************************/
/* My POSTS */
/**************************/

.container {
  max-width: 80rem;
  padding: 0 1.6rem;
  margin: 0 auto;
}

.my-post {
  margin: 1.5rem 0 1.5rem 0;
  border: 1px solid #e2dee7;
  padding: 3.6rem 1.6rem;
  border-radius: 0.35rem;
  position: relative;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.my-post-content {
  margin-top: 1rem;
}

.my-post-mainImage img {
  border-radius: 0.35rem;
  height: 192px;
  width: 192px;
  /* top: -5%;
    right: 50%;
    transform: translate(50%, -50%);
    position: absolute;  */
}

.my-post-tags {
  margin-top: 0.5rem;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0.25rem; */
}

.tag {
  border-radius: 0.25rem;
  font-size: 14px;
  color: #374a69;
  padding: 3px 3px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
}

.tag-one {
  background-color: var(--other-blue);
  color: #fff;
}
.tag-two {
  border: 1px solid var(--other-blue);
  color: var(--other-blue);
}
.tag-three {
  background-color: #f9c344;
  color: #fff;
}

.my-post-body {
  margin: 0rem 0 0rem 0;
}

.my-post-body h4 {
  font-size: 1.5rem;
  padding: 0 0 0 0;
  margin: 0;
}

.my-post-body p {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}

.my-post-about {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.my-post-about h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 1rem 0 0 0;
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: -10px;
}

.social-buttons__button {
  margin: 5px 0px 0;
}
.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 40px;
  height: 40px;
  text-decoration: none;
  border-radius: 100%;
  text-align: center;
}
.social-button::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}
.social-button:focus,
.social-button:hover {
  color: #fff;
}
.social-button:focus::after,
.social-button:hover::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  margin-left: calc(-50% - 1px);
}
.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.social-button i {
  font-size: 28px;
}
.social-button svg {
  height: 70%;
  width: 70%;
}
.social-button--facebook {
  color: #d1cfd3;
  fill: #374a69;
}
.social-button--facebook::after {
  background: #d1cfd3;
}
.social-button--linkedin {
  color: #d1cfd3;
  fill: #374a69;
}
.social-button--linkedin::after {
  background: #d1cfd3;
}
.social-button--github {
  color: #d1cfd3;
  fill: #374a69;
}
.social-button--github::after {
  background: #d1cfd3;
}

.social-button--watch {
  color: #d1cfd3;
  fill: var(--other-blue);
}
.social-button--watch::after {
  background: #d1cfd3;
}

.no-results {
  margin-top: 2rem;
  text-align: center;
  font-weight: 600;
}

.nameUser {
  font-size: 1.5rem;
  color: #374a69;
  font-weight: 600;
}

.filter-div {
  display: flex;
  align-items: right;
  justify-content: right;
}

.filter-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 600;
}

/**************************/
/* MODAL FILTR*/
/**************************/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fff;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 0.35rem;
}

/* The Close Button */
.close {
  color: #374a69;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #0097f5;
  text-decoration: none;
  cursor: pointer;
}

.button-1 {
  background-color: var(--button-color);
  border-radius: 0.35rem;
  border-style: none;
  box-sizing: border-box;
  color: var(--nav-color);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  line-height: 22px;
  list-style: none;
  margin: 2rem 0 0 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
}

.button-1:hover,
.button-1:focus {
  background-color: #54a6ff;
}

.modal label {
  font-size: 1rem;
  color: #374a69;
}

.modal input::placeholder {
  -webkit-appearance: none;
  color: #aaa;
}

.modal h5 {
  font-size: 1rem;
  margin: 1rem 0 0.5rem 0;
}

.modal a {
  font-size: 1rem;
  color: #374a69;
  text-decoration: none;
}

.submitButton {
  margin-top: 4rem !important;
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltiptextMain {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.filter-div:hover .tooltiptextMain {
  visibility: visible;
}

/**************************/
/* GO TOP */
/**************************/

#go-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  border-radius: 0.25rem;
  background: var(--nav-color-background);
  padding: 0.25rem;
  border: none;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.5s;
}

#go-top-icon {
  width: 1.6rem;
  height: 1.6rem;
  fill: #fff;
  padding: 0.25rem;
}

#go-top-icon:hover {
  padding: 0.05rem;
}

.next-previous {
  display: flex;
  justify-content: space-between;
}

.next-previous a {
  color: #374a69;
  font-weight: 600;
  margin-bottom: 3rem;
}

/* ========== MEDIA QUERIES ==========*/
/* For small devices reduce search*/
@media screen and (max-width: 320px) {
  .header__search {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  body {
    padding: 1rem 3rem 0 6rem;
  }
  .header {
    padding: 0 3rem 0 6rem;
  }
  .header__container {
    height: calc(var(--header-height) + 0.5rem);
  }
  .header__search {
    width: 300px;
    padding: 0.55rem 0.75rem;
  }
  .header__toggle {
    display: none;
  }
  .header__logo {
    display: block;
  }

  .header__logo__second {
    display: block;
  }

  .header__img {
    /* width: 40px;
    height: 40px; */
    order: 1;
  }
  .nav {
    left: 0;
    padding: 1.2rem 1.5rem 0;
    width: 70px; /* Reduced navbar */
  }
  .nav__items {
    row-gap: 1.7rem;
  }
  .nav__icon {
    font-size: 1.3rem;
  }

  /* Element opacity */
  .nav__logo-name,
  .nav__name,
  .nav__subtitle,
  .nav__dropdown-icon {
    opacity: 0;
    transition: 0.3s;
  }

  /* Navbar expanded */
  .nav:hover {
    width: var(--nav-width);
  }

  /* Visible elements */
  .nav:hover .nav__logo-name {
    opacity: 1;
  }
  .nav:hover .nav__subtitle {
    opacity: 1;
  }
  .nav:hover .nav__name {
    opacity: 1;
  }
  .nav:hover .nav__dropdown-icon {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .grid--3-cols {
    grid-template-columns: 1fr;
    row-gap: 0.25rem;
  }

  .grid--4-cols {
    grid-template-columns: 1fr 1fr;
    row-gap: 0.25rem;
  }

  .grid--5-cols {
    grid-template-columns: 1fr;
    row-gap: 0.25rem;
  }

  .my-post {
    padding: 1.6rem 1.6rem;
  }

  .container {
    padding: 0 0rem;
  }

  .logos img {
    height: 2rem;
    filter: brightness(0);
    opacity: 50%;
  }

  body {
    padding: 1rem 0.5rem 1rem 4.8rem;
  }

  .social-buttons {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  /*MOVEMENTS*/

  body {
    padding: 1rem 0.5rem;
  }

  .container {
    padding: 0 0rem;
  }

  .my-post {
    padding: 1.6rem 0.6rem;
  }

  .grid--2-cols-post {
    grid-template-columns: 1fr;
  }

  .grid--4-cols {
    grid-template-columns: 1fr;
    row-gap: 0.25rem;
  }

  .my-post-mainImage {
    justify-self: center;
  }

  .my-post-mainImage img {
    border-radius: 50%;
    max-width: 6rem;
    max-height: 6rem;
  }

  .my-post-body h4 {
    text-align: center;
  }

  .my-post-body {
    text-align: center;
  }
}
