/*===== From generalInner =====*/
.active {
  color: var(--nav-color);
}

/**************************/
/* Notifications */
/**************************/
.notifications {
  margin-top: 3rem;
}

.notification {
  cursor: pointer;
}

.notification__tab {
  margin: 1rem 0.2rem 1rem 0.2rem;
  padding: 0.5rem 1.6rem;
  border-radius: 0.25rem;
  position: relative;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.notification__tab p,
a {
  padding: 0;
  margin: 0;
}

.notification__img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

/*========== MAIN ==========*/
/**************************/
/* GENERAL REUSABLE COMPONENTS */
/**************************/
.grid {
  display: grid;
}

.grid--3-cols-notification {
  grid-template-columns: 1fr 4fr 1fr;
  column-gap: 0.25rem;
  align-items: center;
}

/**************************/
/* Main layout - two columns, independent scrolling */
/**************************/

#left {
  position: fixed;
  width: 65%;
  height: 100%;
  overflow: auto;
  top: 8.5%;
  scrollbar-color: #cfd1d6 #eff1f7;
  /* margin-top: 10rem; */
  transform: translate(0%, -3%);
}

#right {
  position: fixed;
  width: 25%;
  height: 100%;
  right: 25px;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#right::-webkit-scrollbar {
  display: none;
}

.users {
  display: flex;
  flex-direction: column;
}

/* Barvy dle fakult */

.noFacultyName::after,
.noFacultyName::before {
  background-color: #1165bf;
}

.esfmu::after,
.esfmu::before {
  background-color: #c50069;
}

.fafmu::after,
.fafmu::before {
  background-color: #527488;
}

.ffmu::after,
.ffmu::before {
  background-color: #5cb4e1;
}

.fimu::after,
.fimu::before {
  background-color: #f8da08;
}

.fspsmu::after,
.fspsmu::before {
  background-color: #74b8aa;
}

.lfmu::after,
.lfmu::before {
  background-color: #c62326;
}

.pdfmu::after,
.pdfmu::before {
  background-color: #ce661d;
}

.prfmu::after,
.prfmu::before {
  background-color: #8f448e;
}

.prirodaMU::after,
.prirodaMU::before {
  background-color: #5aa353;
}

.fssmu::after,
.fssmu::before {
  background-color: #3d885a;
}

/**************************/
/* Sidebar profile */
/**************************/

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.6rem;
  margin-bottom: 5rem;
}

.card-container {
  position: fixed;
  background-color: #1165bf;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #fff;
  padding-top: 30px;
  position: relative;
  width: 350px;
  max-width: 100%;
  text-align: center;
}

.card-container .pro {
  color: #231e39;
  background-color: #f7bb31;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.card-container .round {
  border: 3px solid #f7bb31;
  border-radius: 50%;
  padding: 7px;
}

.card-container img {
  max-width: 10rem;
}

.card-container a {
  color: #fff;
}

button.primary {
  background-color: #f7bb31;
  border-radius: 3px;
  border: 1px solid #f7bb31;
  color: #231e39;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  padding: 10px 25px;
  cursor: pointer;
  margin-right: 0.5rem;
}

button.primary.ghost {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 600;
}

.skills {
  background-color: #0d5199;
  text-align: left;
  padding: 15px;
  border-radius: 5px;
}

.profile-stats {
  flex-basis: 100%;
  order: 1;
  margin-top: 1.5rem;
}

.profile-stats ul {
  display: flex;
  text-align: center;
  padding: 0.6rem 0 0 0;
  list-style-type: none; /* Remove bullets */
}

.profile-stats li {
  font-size: 0.8rem;
  flex: 1;
  margin: 0;
}

.profile-stats {
  width: auto;
  margin: 0;
}

.profile-stat-count {
  display: block;
}

.sidebar h3 {
  margin: 10px 0;
  font-size: 24px;
}

.sidebar h6 {
  margin: 5px 0;
  font-size: 16px;
  text-transform: uppercase;
}

.sidebar p {
  font-size: 16px;
  line-height: 21px;
}

.about {
  text-align: justify;
}

/* ========== POP UP ==========*/
.swal2-popup {
  width: 350px;
}

.swal2-container a {
  font-size: 14px;
  color: #1165bf;
}

.swal2-title {
  font-size: 1.3rem !important;
}

.swal2-html-container {
  font-size: 16px !important;
  text-align: justify !important;
}

.swal2-image {
  width: 100px !important;
  height: 100px !important;
  border-radius: 50%;
  height: 230px;
  width: 230px;
  border: 5px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 5;
  background: #fff;
}

button.sweet-alert_1 {
  background-color: #1165bf;
  border-radius: 3px;
  border: 1px solid #1165bf;
  color: #fff;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  padding: 10px 25px;
  cursor: pointer;
  margin-right: 0.5rem;
}

button.sweet-alert_2 {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #1165bf;
  color: #1165bf;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  padding: 10px 25px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.swal2-styled.swal2-confirm {
  background-color: #1165bf !important;
  border: 1px solid #1165bf !important;
}

/* ========== MEDIA QUERIES ==========*/

@media screen and (min-width: 767px) {
  body {
    padding: 1rem 3rem 0 6rem;
  }

  .header {
    padding: 0 3rem 0 6rem;
  }
  .header__container {
    height: calc(var(--header-height) + 0.5rem);
  }
  .header__search {
    width: 300px;
    padding: 0.55rem 0.75rem;
  }
  .header__toggle {
    display: none;
  }
  .header__logo {
    display: block;
  }

  .header__logo__second {
    display: block;
  }

  .header__img {
    /* width: 40px;
                  height: 40px; */
    order: 1;
  }
  .nav {
    left: 0;
    padding: 1.2rem 1.5rem 0;
    width: 70px; /* Reduced navbar */
  }
  .nav__items {
    row-gap: 1.7rem;
  }
  .nav__icon {
    font-size: 1.3rem;
  }

  /* Element opacity */
  .nav__logo-name,
  .nav__name,
  .nav__subtitle,
  .nav__dropdown-icon {
    opacity: 0;
    transition: 0.3s;
  }

  /* Navbar expanded */
  .nav:hover {
    width: var(--nav-width);
  }

  /* Visible elements */
  .nav:hover .nav__logo-name {
    opacity: 1;
  }
  .nav:hover .nav__subtitle {
    opacity: 1;
  }
  .nav:hover .nav__name {
    opacity: 1;
  }
  .nav:hover .nav__dropdown-icon {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  #left {
    width: 90%;
    top: 58%;
    left: 50%;
    transform: translate(-45%, -50%);
  }

  #right {
    display: none;
  }
}

@media (max-width: 1000px) {
  .header__logo {
    font-size: var(--normal--font-size);
  }
}

@media (max-width: 767px) {
  body {
    padding: 1rem 0rem 1rem 0rem;
  }

  #left {
    width: 98%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav__container {
    padding-bottom: 6rem;
  }
}
